<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <h1>Welcome <%= Name %></h1>
    <a href='https://account.box.com/api/oauth2/authorize?response_type=code&client_id=f4tpda8l96cv2cu2kllw2vqzt5pgfyp0&redirect_url=http://localhost:3000/box/callback'> Sign In with Box</a>

  </body>
</html>
