<!DOCTYPE html>
<html>
  <head>
    <h1>Test for Login</h1>
  </head>
  <body>
    <form action="/auth/login" method="post">
      <p>
        <input type="text" name="username" placeholder="username">
      </p>
      <p>
        <input type="password" name="password" placeholder="password">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
  </body>

</html>
